body {
    background-color: white;
    /* Ein sehr helles Grau als Hintergrund */
}

.pusher {
    flex: 1;
    padding-top: 5em;
}

.ui.container {
    padding: 1em 0.5em;
}

h1 {
    color: #d97d7d6b;
    /* Dunkelgrau für den Text */
}

#leftMenu,
#rightMenu {
    top: 50px !important;
}

#mainMenu {
    background-color: #eeeeee;
    /* Dunkelgrau für das Menü */

}

#pageContent {
    padding: 0px 10px 0px 20px;
    transition: margin-left 0.5s;
}