# Environment files
.env
.env.*
!.env.example

# Logs
/logs/*
!logs/.gitkeep
/modules/*/logs/*
!modules/*/logs/.gitkeep

# IDE & System files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db

# Config files
#/config/*.php
!/config/*.example.php
smart_users/
